<p id="notice"><%= notice %></p>

<h1>Listing Investments</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>User</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.project %></td>
        <td><%= investment.user %></td>
        <td><%= investment.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
