<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @investment.project %>
</p>

<p>
  <strong>User:</strong>
  <%= @investment.user %>
</p>

<p>
  <strong>Value:</strong>
  <%= @investment.value %>
</p>

