<div class="container">
	<div class="col-sm-12">
		<center>
			<h2>Preencha as informações abaixo</h2>
			<h4>Os dados informados nessa seção não poderão ser modificados quando o projeto for ao ar. Preencha com atenção e revise antes de lançar o projeto. 
			</h4>
		</center>
		<%= render 'form' %>
	</div>
</div>